%p
  %b Name:
  = @topic.name
%p
  %b Description:
  = @topic.description

%meter#comfort-meter{high: 80, low: 20, min: 0, max: 100, value: @rating.comfort}
%input#comfort-index{type: :range, min: 0, max: 100, value: @rating.comfort }
%br
%meter#interest-meter{high: 80, low: 20, min: 0, max: 100, value: @rating.interest }
%input#interest-index{type: :range, min: 0, max: 100, value: @rating.interest }
%br
%meter#priority-meter{high: 80, low: 20, min: 0, max: 100, value: 0}
#priority-index= (100 - @rating.comfort + @rating.interest) / 2

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'Back', topics_path

:coffeescript
  topic = new Topic
  topic.trackIndex()
